.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.egg-info/
dist

.coverage
.pytest_cache
.mypy_cache
.pytest_cache

.vscode
.idea
*.log
*.tmp
*.bak
*.swp
*.swo

*.DS_Store

_risk_control
docs/generated
site
